{% extends 'base.html.twig' %}

{% block title %}Setup Participants{% endblock %}

{% block body %}
    <h1>Liste des participants</h1>

    <!-- Formulaire englobant pour soumettre les participants -->
    {{ form_start(participantForm) }}

    <h2>Nombre de participants</h2>
    <input type="number" id="numberOfParticipants" value="10" min="1" class="form-control" style="width: 100px; display: inline-block;">
    <button type="button" id="updateTable" class="btn btn-primary">Mettre à jour le tableau</button>

    <h2>Ajoutez les participants manuellement</h2>

    <!-- Tableau des participants -->
    <table class="table" id="participantsTable" data-prototype="{{ form_row(participantForm.participants.vars.prototype)|e }}">
        <thead>
            <tr>
                <th>#</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Exclusions</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for participant in participantForm.participants %}
                <tr data-index="{{ loop.index0 }}">
                    <td>{{ loop.index }}</td>
                    <td>{{ form_widget(participant.name) }}</td>
                    <td>{{ form_widget(participant.email) }}</td>
                    <td>{{ form_widget(participant.exclusions) }}</td>
                    <td>
                        <button type="button" class="btn btn-danger btn-remove-row">Supprimer</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <button type="button" id="addRow" class="btn btn-primary">Ajouter un participant</button>
    <button type="submit" id= "btn-success" class="btn btn-success">Étape 2: Composer le message</button>

    {{ form_end(participantForm) }}

    <!-- Formulaire de téléchargement séparé pour le fichier CSV -->
    <h2>Ou via un fichier CSV</h2>
    <form id="csvUploadForm" method="post" enctype="multipart/form-data">
        <input type="file" id="participantsCsv" name="participantsCsv" accept=".csv, .xls, .xlsx">
        <button type="button" id="uploadFileBtn" class="btn btn-secondary">Télécharger le fichier excel ou csv</button>
    </form>

    {% if app.flashes('flash_error') %}
        <div class="alert alert-danger">
            {{ app.flashes('flash_error')|first }}
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/setupParticipantTable.js') }}"></script>
    <script src="{{ asset('assets/js/uploadFile.js') }}"></script>
{% endblock %}
